/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    width: 100%;
    margin: 0%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*this controls the way the navigational system is displayed*/

.navbar {
    margin: 0%;
    z-index: 7;
    padding: 20px;
    font-family: 'Indie Flower', cursive;
}
/*this keeps my navigational system on point*/
.fixed-top {
    position: fixed;
    
}
/*this gives my fonts on the navigational system*/
.title {
    font-size: 20px;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color: black;

}
/*this controls the background image of the page is displayed*/
.banner-area {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 50px;
    background-image:url(https://images.unsplash.com/photo-1515923152115-758a6b16f35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    z-index: 2;
    margin: 0%;
 }
 /*this controls the lettering in the main image*/
 h2  {
    font-size: 40px;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color: black;
    margin-top: 10%;
    margin-left: 2%;
    
}
 /*trying to make my content smooth*/
#about-me {
    margin-top: 5%;
}

/*this controls how the background on my navigational system is displayed*/
.background {
    background-color: white;
    height: 50px;
    border-bottom: solid 1px rgb(9, 8, 8);
    position: relative;
 }

 /*this controls the way my main content moves along the screen*/
.content-area {
    top:100vh;
    position: relative;
    clear: both;
    text-align: left;
    background-color: rgb(255, 255, 255);
    border-top: solid 2px black ;
    width: 100%;
    display: block;
    z-index: 3;
    padding-bottom: 2%;
    
}
/*this controls my h1 elemnt and how it is displayed on the content area*/

h1 {
    float: left;
    font-size: 30px;
    font-family:'Indie Flower', cursive; ;
    color: black;
    left: 7%;
    top: 2%;
    position: absolute;
}
/*this creates a horizontal line under the about*/
hr {
    border: solid 1px lightgray;
    width:90%;
}
/*this controls my image size*/
.size {
    padding:5%;
}
/*this controls the p tags on all of my pages*/
p {
    font-family: 'Noto Sans JP', sans-serif;
    line-height: 20px;
    padding: 5%;
 }
 /* this controls the display on the portfolio.html*/
 div p {
     background: darkgrey;
 }
/*this displays my footer*/
.footer {
    padding-top: 5%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: white;
    border-top: solid 3px black ;
    width: 100%;
    display: block;
    margin-bottom: 0%;
 }
#contact {
    transition: all ease-out 1.3s; 
}
/*this controls my gallry alike  content*/
.portfolioImages {
    height: 300px;
    width: 300px;
    margin: 10%;
}