/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    width: 100%;
    margin: 0%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*this controls the way the navigational system is displayed*/

.navbar {
    margin: 0%;
    z-index: 7;
    padding: 20px;
}
/*this keeps my navigational system on point*/
.fixed-top {
    position: fixed;
    
}
/*this gives my fonts on the navigational system*/
.title {
    font-size: 20px;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color: black;

}
/*this controls the background image of the page is displayed*/
.banner-area {
    width: 100%;
    height: 680px;
    position: fixed;
    top: 50px;
    background-image:url(https://images.unsplash.com/photo-1515923152115-758a6b16f35e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    z-index: 2;
 }
 /*this controls the lettering in the main image*/
 h2  {
    font-size: 40px;
    position: absolute;
    font-family: 'Indie Flower', cursive;
    color: black;
    margin-top: 10%;
    margin-left: 2%;
    
}
 /*trying to make it smooth*/
#about-me {
    margin-top: 5%;
}

/*this controls my h1 elemnt and how it is displayed on the content area*/

h1 {
    float: left;
    font-size: 30px;
    font-family:'Indie Flower', cursive; ;
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    left: 5%;
    top: 2%;
    position: absolute;
    

}
/*this controls how the background on my navigational system is displayed*/
.background {
    background-color: white;
    height: 50px;
    border-bottom: solid 1px rgb(9, 8, 8);
    position: relative;
 }
  /*this creates a horizontal line under the about*/
 hr {
    border: solid 1px lightgray;
    width:90%;
    margin-top: 10%;
}
 /*this is the image in my main content*/
img {
    margin: 5%;
    float: left;
    width: 300px;
    margin-top: 1%;
}

 
 /*this aligns my text with the image*/
 p {
     margin: 5%;
     margin-top: 2%;
     font-family: 'Quicksand', sans-serif;
     text-align: left;
     line-height: 20px;
     
   
 }
 /*this controls the way my main content moves along the screen*/
.content-area {
    height: 1500px;
    top: 725px;
    position: relative;
    clear: both;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-top: solid 2px black ;
    bottom: 0%;
    width: 100%;
    display: block;
   z-index: 3;
}
/*this displays my footer*/
.footer {
    padding: 40px;
    position: fixed;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color: white;
    border-top: solid 3px black ;
    bottom: 0%;
    width: 100%;
    display: block;
   z-index: 4;
   color: black;
 }